/*-------------------------------------------------FONTE DO SITE------------------------------------------------------------------*/

/* Aplicando Comfortaa a todo o site */
body {
  font-family: 'Comfortaa', sans-serif;
}


/* Aplicando Comfortaa a todo o site */
body, p, a, button, h1, h2, h3, h4, h5, h6, span, div, input, nav, ul, li {
  font-family: 'Comfortaa', sans-serif;
}

/*-------------------------------------------------NAVBAR INTENS------------------------------------------------------------------*/

.nav-item {
  margin-right: 45xpx; /* Adiciona 20px de espaço à direita de cada item */
}

.button-navbar {
  margin-left: 45px; /* Adiciona espaço à esquerda do botão */
}

.nav-link {
  font-size: 14px;
}

.nav-link.active {
  color: #1a237e; /* Cor para o item ativo */
}

/*-------------------------------------------------BOTÃO DA NAVBAR------------------------------------------------------------------*/

.button-navbar {
  position: relative; /* Permite posicionar itens internos */
  overflow: hidden; /* Esconde conteúdo que sai do botão */
  border: 1px solid #ffffff; /* Borda do botão */
  color: #ffffff; /* Cor do texto */
  display: inline-block; /* Botão se comporta como um elemento de linha */
  font-size: 14px; /* Tamanho da fonte */
  line-height: 1px; /* Altura da linha */
  padding: 18px 18px 17px; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado do texto */
  cursor: pointer; /* Mostra ponteiro ao passar o mouse */
  background: #151c6b; /* Fundo branco */
  user-select: none; /* Impede seleção de texto */
  -webkit-user-select: none; /* Compatível com Safari/Chrome */
  touch-action: manipulation; /* Melhora a interação em dispositivos móveis */
  border-radius: 100px; /* Bordas arredondadas (oval) */
}

.button-navbar span:first-child {
  position: relative; /* Posiciona o texto dentro do botão */
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1); /* Anima a cor do texto ao mudar */
  z-index: 10; /* Texto está acima de outros elementos */
}

.button-navbar span:last-child {
  color: rgb(255, 255, 255); /* Cor do ícone */
  display: block; /* Ocupa toda a largura */
  position: absolute; /* Sobreposição ao botão */
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1); /* Animações */
  z-index: 100; /* Texto acima de outros elementos */
  opacity: 0; /* Inicialmente invisível */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Move para o centro */
  height: 20px; /* Altura do ícone (ajuste conforme necessário) */
  line-height: 40px; /* Altura da linha do ícone para centralização */
  font-size: 18px; /* Tamanho do ícone (ajuste conforme necessário) */
}


.button-navbar:after {
  content: ""; /* Cria um fundo animado */
  position: absolute; /* Posiciona o fundo dentro do botão */
  bottom: -50%; /* Começa fora do botão */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* O fundo cobre toda a largura */
  height: 100%; /* O fundo cobre toda a altura */
  background-color: #303f9f; /* Cor do fundo azul */
  transform-origin: bottom center; /* Ponto de origem para animação */
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1); /* Anima a transformação do fundo */
  transform: skewY(9.3deg) scaleY(0); /* Fundo invisível inicialmente */
  z-index: 50; /* Fica atrás do texto */
}

.button-navbar:hover:after {
  transform-origin: bottom center; /* Mantém a origem da animação */
  transform: skewY(9.3deg) scaleY(2); /* Expande o fundo ao passar o mouse */
}

.button-navbar:hover span:last-child {
  transform: translateX(-50%) translateY(-100%); /* Move o texto para o centro do botão */
  opacity: 1; /* Torna o texto visível ao passar o mouse */
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1); /* Anima as mudanças do texto */
}

/*-------------------------------------------------FUNDO DO SITE------------------------------------------------------------------*/

.background-container {
  position: relative; /* Posiciona o conteúdo no container */
  height: 118vh; /* Altura total da tela */
  overflow: hidden; /* Esconde conteúdo que sai do container */
}

.background-video {
  position: absolute; /* Coloca o vídeo dentro do container */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Ocupar toda a largura */
  height: 100%; /* Ocupar toda a altura */
  object-fit: cover; /* Preenche o container com o vídeo */
  z-index: -1; /* Fica atrás de outros elementos */
}


/* Estilo da navbar */
.navbar.custom-navbar {
  background: transparent !important; /* Navbar fica transparente */
}

/*-------------------------------------------------SEÇÃO BEM VINDO------------------------------------------------------------------*/

#bem-vindo {
  min-height: 60vh; /* Altura mínima da seção */
  display: flex; /* Usa flexbox para layout */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  text-align: center; /* Centraliza o texto */
}

/* Estilo para o h1 */
#bem-vindo h1 {
  font-size: 3.5rem; /* Tamanho da fonte do título */
  color: #1a237e;/* Cor do texto */
  font-weight: bold;
}

/* Estilo para o parágrafo */
#bem-vindo p {
  font-size: 1.1rem; /* Tamanho da fonte do parágrafo */
  color: #1a237e; /* Cor do texto */
  font-weight: bold;
}

/*---------------------------------------------PRIMEIRA SEÇÃO SOBRE NÓS--------------------------------------------------------------*/

#primeiro-sobre-nos {
  text-align: center; /* Centraliza o texto */
  color: white; /* Cor da fonte branca */
  padding: 20px; /* Espaçamento interno */
}

#primeiro-sobre-nos h2 {
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  font-size: 32px; /* Tamanho do título */
}

#primeiro-sobre-nos p {
  font-size: 15px; /* Ajuste o tamanho conforme necessário para o texto */
  line-height: 1.8; /* Altura da linha para melhor legibilidade */
  max-width: 900px; /* Define uma largura máxima para os parágrafos */
  margin: 0 auto; /* Centraliza os parágrafos em relação ao container */
}

.background-container {
  position: relative; /* Define o contêiner de referência */
}

.primeiro-titulo-direita {
  position: absolute !important;
  top: 360px !important;       /* Ajuste conforme necessário */
  right: 185px !important;     /* Ajuste conforme necessário */
  text-align: right !important;
}

.primeiro-texto-direita {
  position: absolute !important;
  top: 420px !important;      /* Ajuste conforme necessário */
  right: 185px !important;     /* Ajuste conforme necessário */
  max-width: 40% !important;  /* Limite a largura do texto, se desejar */
  text-align: right !important;
}

/*---------------------------------------------SEGUNDA SEÇÃO SOBRE NÓS--------------------------------------------------------------*/

#segundo-sobre-nos {
  text-align: center; /* Centraliza o texto */
  color: white; /* Cor da fonte branca */
  padding: 20px; /* Espaçamento interno */
}

.container {
  display: flex;
  flex-direction: column;  /* Coloca o título acima dos itens */
  align-items: center;     /* Centraliza o título e os itens */
  text-align: center;
  color: white;
}

.container h2 {
  margin-bottom: 40px !important;     /* Espaçamento entre o título e os itens */
}

.itens-container {
  display: flex;
  gap: 60px;               /* Espaçamento entre os itens */
}

.item {
  display: flex;
  align-items: center;     /* Alinha o ícone e o texto na vertical */
  gap: 10px !important;               /* Espaçamento entre o ícone e o texto */
  text-align: left;
}

.item img {
  width: 70px;             /* Tamanho do ícone */
  height: 70px;
  border-radius: 25%;         /* Arredonda a imagem para que fique em formato de círculo */

}

.item p {
  margin: 0;
}

.segundo-titulo-esquerda {
  position: absolute !important;
  top: 350px !important;       /* Ajuste conforme necessário */
  left: 185px !important;      /* Ajuste conforme necessário */
  text-align: left !important; /* Mudar para left para alinhar à esquerda */
}

.segundo-texto-esquerda {
  position: absolute !important;
  top: 410px !important;       /* Ajuste conforme necessário */
  left: 185px !important;      /* Ajuste conforme necessário */
  max-width: 60% !important;   /* Limite a largura do texto, se desejar */
  text-align: left !important;  /* Mudar para left para alinhar à esquerda */
}


/*-------------------------------------------LOCAL ACOLHEDOR PARTE 1 / CARDS-----------------------------------------------------------*/

/* Estilos para a seção de cards de ajuda */
#local-acolhedor {
  padding: 1px; /* Espaçamento interno */
  margin: 20px auto; /* Centraliza a seção com margem superior e inferior */
  max-width: 800px; /* Limita a largura máxima da seção */
}

#local-acolhedor h2 {
  font-size: 32px; /* Tamanho da fonte do título */
  color: #1a237e; /* Cor do texto do título */
  margin-bottom: 30px; /* Espaçamento abaixo do título */
  text-align: center; /* Centraliza o título */
}

#local-acolhedor p {
  font-size: 16px; /* Tamanho da fonte do parágrafo */
  color: #1a237e; /* Cor do texto do parágrafo */
  line-height: 1.5; /* Aumenta o espaçamento entre linhas */
  text-align: center; /* Centraliza o texto do parágrafo */
  margin: 0 20px; /* Espaçamento lateral */
}

#local-acolhedor h5 {
  font-size: 16px; /* Tamanho da fonte do título */
  color: #ffffff; /* Cor do texto do título */
  margin-bottom: 30px; /* Espaçamento abaixo do título */
  text-align: center; /* Centraliza o título */
}

/* Estilos para o container */
.container-center {
  max-width: 1200px; /* Largura máxima do container */
  margin: 0 auto; /* Centraliza o container */
  padding: 20px; /* Espaçamento interno */
}

/* Estilos para o contêiner dos cards */
.card-container {
  display: flex; /* Usando Flexbox */
  justify-content: space-between; /* Espaço igual entre os cards */
  flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte se não houver espaço suficiente */
  margin-top: 20px; /* Espaçamento acima dos cards */
}

/* Estilos adicionais para os cards */
.custom-card {
  margin: 10px; /* Espaçamento entre os cards */
  flex: 1 0 30%; /* Permite que os cards se ajustem e ocupem pelo menos 30% da largura do contêiner */
  max-width: 11rem; /* Limita a largura máxima do card */
  height: 25rem; /* Altura do card */
  background-color: #303f9f !important; /* Cor de fundo do card (use a cor desejada) */
  padding: 15px; /* Preenchimento interno do card */
  border-radius: 8px; /* Borda arredondada para o card */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade ao card */
  border-radius: 40px !important; /* Arredonda as bordas da imagem (deve corresponder ao valor do card) */
}

.custom-img {
  height: 150px; /* Altura da imagem para manter a consistência */
  object-fit: cover; /* Cobre o espaço do card, mantendo a proporção */
  border-radius: 40px !important; /* Arredonda as bordas da imagem (deve corresponder ao valor do card) */

}

/* Contêiner principal para a seção de fundo */
.background-container {
  position: relative; /* Define a posição relativa para permitir o posicionamento absoluto dos elementos filhos */
}

/* Contêiner central para os elementos que estão acima do vídeo */
.container-center {
  position: relative; /* Define a posição relativa para que os elementos internos possam ser posicionados em relação a ele */
  z-index: 1; /* Coloca este contêiner acima do vídeo na pilha de camadas */
}

/* Estilo personalizado para os cartões */
.custom-card {
  margin: 35px; /* Adiciona uma margem ao redor de cada cartão */
}

.custom-button {
  background-color: #ffffff !important; /* Cor de fundo do botão */
  color:  #303f9f !important; /* Cor do texto e do ícone (use a cor desejada) */
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Arredonda as bordas do botão */
  padding: 10px 20px; /* Preenchimento interno (topo e fundo, esquerda e direita) */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove sublinhado do texto */
  display: inline-block; /* Permite que o botão se comporte como um bloco inline */
  transition: none; /* Remove a transição suave para efeitos */
}

/* Estilos adicionais para o ícone, se necessário */
.custom-button .icon-spacing {
  color: inherit; /* Garante que a cor do ícone herde a cor do botão */
}
