/*-------------------------------------------------FONTE DO SITE------------------------------------------------------------------*/

/* Aplicando Comfortaa a todo o site */
body {
  font-family: 'Comfortaa', sans-serif;
}


/* Aplicando Comfortaa a todo o site */
body, p, a, button, h1, h2, h3, h4, h5, h6, span, div, input, nav, ul, li {
  font-family: 'Comfortaa', sans-serif;
}

/*-------------------------------------------------NAVBAR INTENS------------------------------------------------------------------*/

.nav-item {
  margin-right: 45xpx; /* Adiciona 20px de espaço à direita de cada item */
}

.button-navbar {
  margin-left: 45px; /* Adiciona espaço à esquerda do botão */
}

.nav-link {
  font-size: 14px;
}

.nav-link.active {
  color: #1a237e; /* Cor para o item ativo */
}

/*-------------------------------------------------BOTÃO DA NAVBAR------------------------------------------------------------------*/

.button-navbar {
  position: relative; /* Permite posicionar itens internos */
  overflow: hidden; /* Esconde conteúdo que sai do botão */
  border: 1px solid #ffffff; /* Borda do botão */
  color: #ffffff; /* Cor do texto */
  display: inline-block; /* Botão se comporta como um elemento de linha */
  font-size: 14px; /* Tamanho da fonte */
  line-height: 1px; /* Altura da linha */
  padding: 18px 18px 17px; /* Espaçamento interno */
  text-decoration: none; /* Remove sublinhado do texto */
  cursor: pointer; /* Mostra ponteiro ao passar o mouse */
  background: #151c6b; /* Fundo branco */
  user-select: none; /* Impede seleção de texto */
  -webkit-user-select: none; /* Compatível com Safari/Chrome */
  touch-action: manipulation; /* Melhora a interação em dispositivos móveis */
  border-radius: 100px; /* Bordas arredondadas (oval) */
}

.button-navbar span:first-child {
  position: relative; /* Posiciona o texto dentro do botão */
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1); /* Anima a cor do texto ao mudar */
  z-index: 10; /* Texto está acima de outros elementos */
}

.button-navbar span:last-child {
  color: rgb(255, 255, 255); /* Cor do ícone */
  display: block; /* Ocupa toda a largura */
  position: absolute; /* Sobreposição ao botão */
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1); /* Animações */
  z-index: 100; /* Texto acima de outros elementos */
  opacity: 0; /* Inicialmente invisível */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Move para o centro */
  height: 20px; /* Altura do ícone (ajuste conforme necessário) */
  line-height: 40px; /* Altura da linha do ícone para centralização */
  font-size: 18px; /* Tamanho do ícone (ajuste conforme necessário) */
}


.button-navbar:after {
  content: ""; /* Cria um fundo animado */
  position: absolute; /* Posiciona o fundo dentro do botão */
  bottom: -50%; /* Começa fora do botão */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* O fundo cobre toda a largura */
  height: 100%; /* O fundo cobre toda a altura */
  background-color: #303f9f; /* Cor do fundo azul */
  transform-origin: bottom center; /* Ponto de origem para animação */
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1); /* Anima a transformação do fundo */
  transform: skewY(9.3deg) scaleY(0); /* Fundo invisível inicialmente */
  z-index: 50; /* Fica atrás do texto */
}

.button-navbar:hover:after {
  transform-origin: bottom center; /* Mantém a origem da animação */
  transform: skewY(9.3deg) scaleY(2); /* Expande o fundo ao passar o mouse */
}

.button-navbar:hover span:last-child {
  transform: translateX(-50%) translateY(-100%); /* Move o texto para o centro do botão */
  opacity: 1; /* Torna o texto visível ao passar o mouse */
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1); /* Anima as mudanças do texto */
}

/*-------------------------------------------------FUNDO DO SITE------------------------------------------------------------------*/

.background-container {
  position: relative; /* Posiciona o conteúdo no container */
  height: 116vh; /* Altura total da tela */
  overflow: hidden; /* Esconde conteúdo que sai do container */
}

.background-video {
  position: absolute; /* Coloca o vídeo dentro do container */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Ocupar toda a largura */
  height: 100%; /* Ocupar toda a altura */
  object-fit: cover; /* Preenche o container com o vídeo */
  z-index: -1; /* Fica atrás de outros elementos */
}


/* Estilo da navbar */
.navbar.custom-navbar {
  background: transparent !important; /* Navbar fica transparente */
}

/*-------------------------------------------------SEÇÃO BEM VINDO------------------------------------------------------------------*/

#bem-vindo {
  min-height: 60vh; /* Altura mínima da seção */
  display: flex; /* Usa flexbox para layout */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  text-align: center; /* Centraliza o texto */
}

/* Estilo para o h1 */
#bem-vindo h1 {
  font-size: 3.5rem; /* Tamanho da fonte do título */
  color: #1a237e;/* Cor do texto */
  font-weight: bold;
}

/* Estilo para o parágrafo */
#bem-vindo p {
  font-size: 1.1rem; /* Tamanho da fonte do parágrafo */
  color: #1a237e; /* Cor do texto */
  font-weight: bold;
}

/*-------------------------------------------------SEÇÃO SOBRE NÓS------------------------------------------------------------------*/

#sobre-nos {
  text-align: center; /* Centraliza o texto */
  color: white; /* Cor da fonte branca */
  padding: 20px; /* Espaçamento interno */
}

#sobre-nos h2 {
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  font-size: 32px; /* Tamanho do título */
}

#sobre-nos p {
  font-size: 15px; /* Ajuste o tamanho conforme necessário para o texto */
  line-height: 1.8; /* Altura da linha para melhor legibilidade */
  max-width: 900px; /* Define uma largura máxima para os parágrafos */
  margin: 0 auto; /* Centraliza os parágrafos em relação ao container */
}

/*-------------------------------------------LOCAL ACOLHEDOR PARTE 1 / CARDS-----------------------------------------------------------*/

/* Estilos para a seção de cards de ajuda */
#local-acolhedor {
  padding: 20px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  margin: 20px auto; /* Centraliza a seção com margem superior e inferior */
  max-width: 800px; /* Limita a largura máxima da seção */
}

#local-acolhedor h2 {
  font-size: 32px; /* Tamanho da fonte do título */
  color: #0d124d; /* Cor do texto do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  text-align: center; /* Centraliza o título */
}

#local-acolhedor p {
  font-size: 15px; /* Tamanho da fonte do parágrafo */
  color: #0d124d; /* Cor do texto do parágrafo */
  line-height: 1.8; /* Aumenta o espaçamento entre linhas */
  text-align: center; /* Centraliza o texto do parágrafo */
  margin: 0 20px; /* Espaçamento lateral */
}

#local-acolhedor h5 {
  font-size: 13.5px; /* Tamanho da fonte do título */
  color: #ffffff; /* Cor do texto do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  text-align: center; /* Centraliza o título */
}

.icon-spacing {
  margin-left: 5px; /* Ajuste o valor conforme necessário */
}


/* Estilos para o contêiner dos cards */
.card-container {
  display: flex; /* Usando Flexbox */
  justify-content: space-between; /* Espaço igual entre os cards */
  flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte se não houver espaço suficiente */
  margin-top: 20px; /* Espaçamento acima dos cards */
  margin-top: 100px; /* Aumenta o espaço acima dos cards */

}

/* Estilos adicionais para os cards */
.custom-card {
  background-color: #001f5b !important;
  border-radius: 25px !important;
  box-shadow: 0 4px 8px #001e5b25;
  transition: transform 0.2s;
  margin: 10px; /* Espaçamento entre os cards */
  flex: 1 0 30%; /* Permite que os cards se ajustem e ocupem pelo menos 30% da largura do contêiner */
  max-width: 11rem; /* Limita a largura máxima do card */
  height: 24rem; /* Altura do card */
}

.custom-card:hover {
  transform: scale(1.05);
}

.custom-card .card-title {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.custom-img {
  width: 70% !important;
  border-radius: 20px !important;
  height: auto;
  margin: 20px auto 0;
}

.custom-card .btn {
  background-color: #ffffff;
  color: #0d124d;
  border: none;
  border-radius: 20px;
  padding: 5px px; /* Aumente os valores aqui */
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 30px; /* Ajusta o espaçamento do botão */
  display: flex; /* Ativa o Flexbox */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  text-decoration: none; /* Remove o sublinhado do texto do link */
}

.custom-card .btn:hover {
  background-color: #3f51b5;
  cursor: pointer;
}

.custom-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-container {
  margin-bottom: -4px; /* Ajuste negativo para aproximar as seções */
}
